/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* END RESET */

/* COMMON */
body{
    font-family: 'Montserrat', sans-serif;
    color: #33475b;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.container-60{
    width: 60%;
    margin: 0 auto;
}

/* Colonne e Clearfix */
.col{
    float: left;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Layout a due colonne */
.two-col .col:first-child{
    width: 30%;
}
.two-col .col:last-child{
    width: 70%;
}

/* Layout a tre colonne */
.three-col .col{
    width: 30%;
}
.three-col .col:nth-child(2){
    margin: 0 5%;
}

/* Layout a quattro colonne */
.four-col .col{
    width: 25%;
}

/* Button generale */
.btn{
    display: inline-block;
    padding: 20px 35px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

/* Pink button */
.pink-button{
    background-color: #fe775a;
}

/* Stile testo da riutilizzare */
.text{
    font-size: 13px;
    line-height: 25px;
}
.small-text{
    font-size: 10px;
}
.text-centered{
    text-align: center;
}

/* Padding riutilizzabili */
.padd-10{
    padding: 10px 0;
}
.padd-20{
    padding: 20px 0;
}
.padd-30{
    padding: 30px 0;
}
.padd-bott-40{
    padding-bottom: 40px;
}
/* END COMMON */

/* HEADER */
/* Elementi nav comuni */
.menu{
    list-style-type: none;
}
.menu li{
    display: inline-block;
    padding-right: 20px;
}
.menu li a{
    color: #32495b;
    text-decoration: none;
    font-size: 13px;
}

.menu-right{
    text-align: right;
}

.vertical-align{
    vertical-align: middle;
    padding-left: 5px;
}

/* Nav top */
.nav-top{
    background-color: #f4f9fd;
    border-bottom: 1px solid #32495b;
}

.nav-top .menu-left{
    margin-top: 10px;
}

.menu-right .search{
    color: #01a4bd;
}
.menu-right .login-button{
    color: #fe775a;
    border: 1px solid #fe775a;
    padding: 10px;
}
.menu-right .pink-button{
    color: white;
    padding: 10px;
}

.nav-top .world{
    padding-right: 5px;
}
.nav-top .contact-us{
    padding-left: 20px;
    border-left: 1px solid #32495b;
}

/* Nav bottom */
.nav-bottom img{
    width: 100px;
}

.nav-bottom .menu-right{
    line-height: 30px;
}

/* Jumbotron */
.jumbotron{
    height: 600px;
    background-image: url('../img/jumbotron.png');
    background-size: cover;
    position: relative;
}

.bg-green{
    background-color: #afebe4;
    height: 75px;
    width: 100%;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    position: absolute;
    bottom: 0;
    right: 0;
}

.teaser{
    width: 50%;
    padding-top: 7%;
}

h1{
    font-size: 40px;
}
/* END HEADER */

/* MAIN */
/* Elementi in comune nel main */
section{
    padding: 40px 0;
}

main h2{
    font-size: 30px;
    font-weight: 700;
}

/* Section Benefits */
#benefits{
    background-color: #f4f9fd;
}

/* Title container */
#benefits .container-60 img{
    height: 200px;

}

/* Box container */
#benefits .box{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray;
    padding: 20px 30px;
}

#benefits .featured.box{
    margin: 50px 0;
    padding: 70px;
}

#benefits .box-container img{
    height: 100px;
    margin-bottom: 20px;
}

#benefits h3{
    font-size: 25px;
}
#benefits .featured h4{
    display: inline-block;
}

#benefits .checklist{
    list-style-type: none;
    text-align: left;
}
#benefits .featured .checklist li{
    display: inline-block;
    margin-right: 25px;
}
#benefits .checklist .check{
    color: #fe775a;
    padding-right: 10px;
}

#benefits .box .line{
    height: 2px;
    width: 100%;
    background-color: #8a9498;
}
#benefits .box.featured .line{
    display: inline-block;
    vertical-align: middle;
    width: 350px;
    margin-left: 50px;
}

/* Section Results */
#results{
    background-color: #00b4b0;
    color: #fff;
}

#results .number{
    font-size: 40px;
    font-weight: 700;
}
#results .plus{
    font-size: 35px;
}

#results .col:not(.col:last-child) {
    border-right: 1px solid #fff;
}
#results .col .col-top{
    border-bottom: 1px solid #fff;
}
/* END MAIN */


/* TEST */
